experiment:
  name: VLS_3D_Grading_Simplified_Classes_SingleGrader_NoSSL
  description: "Hierarchical single-grader training without SSL pretraining."

paths:
  data_csv: data/video_splits_corrected.csv
  log_dir: logs
  checkpoint_dir: checkpoints
  figures_dir: figures
  summaries_dir: summaries

output_configuration:
  work_dir: work_dir/runs
  task_name: vls_grading
  use_wandb: true #false
  checkpoint_interval: 5
  logging_level: INFO

training:
  datamodule:
    video_col: 'Processed_video_path'
    label_cols: ['Sean_Review', 'Santiago_Review']
  model_name: 'i3d'
  num_base_classes: 4
  num_subclasses: 5
  num_classes: 8
  simplified_base: true #false   # â† set true to train on base-only
  batch_size: 32 #24 #16
  num_workers: 1 #4
  lr: 0.00001 #0.0001 #0.00005 #0.0001
  epochs: 50
  subclass_loss_weight: 0.5

  ssl_lr: 0.001
  ssl_epochs: 20
  ssl_pretrain: false

  module:
    use_amp: True
    clip_grad: 1.0
    grad_accum: 3 #2 #4

    early_stopping:
      enabled: True
      patience: 5 #10
      min_delta: 0.0005 #0.001 # 0.0001

  optimizer:
    weight_decay: 0.005 #0.01  # Reduced from 0.05 -> lessened the L2 reg effect
  loss:
    label_smoothing: 0.05 #0.1  # Reduced from 0.2  -> reduce to soften regularlization on the loss
 
evaluation:
  split: test
  checkpoint_path: checkpoints/best_model.pth
  save_attention: false

distributed: true
SEED: 42